#descip {
  margin-top: 100px;
  color: deeppink;
  width: 30%;
}
#profImg {
  margin-left: 20%;
  border-radius: 50%;
  border: 1px solid black;
  width: 300px;
  height: 300px;
  background-color: white;
}
/* .backEnd {
  margin-right: 150px;
}
.frontEnd {
  margin-left: 60px;
} */
.exp {
  border: 1px solid deeppink;
  backdrop-filter: blur(10px);
  border-radius: 20px;
}
#root {
  background-image: url("https://static.vecteezy.com/system/resources/previews/003/627/132/non_2x/nature-scene-background-with-rainbow-in-the-sky-free-vector.jpg");
  background-size: cover;
  height: 100vh;
}
#body {
  font-size: 1.1rem;
}
#peepo1 {
  width: 4%;
  top: 75%;
  right: 78%;
  position: absolute;
}
#peepo2 {
  width: 5%;
  top: 72%;
  right: 32%;
  position: absolute;
}
#peepo3 {
  width: 4%;
  top: 75%;
  right: 69%;
  position: absolute;
}
#peepo4 {
  width: 4%;
  top: 75%;
  right: 25%;
  position: absolute;
}
#peepo5 {
  width: 4%;
  top: 75%;
  right: 15%;
  position: absolute;
}
#peepo6 {
  width: 4%;
  top: 86.4%;
  right: 55%;
  position: absolute;
}
